/* google fonts css stuff */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* custom stuff */

:root{
    --text: #030f15;
    --background: #d5eff2;
    --content-background:#e2fcff;
    --primary: #60dbdb;
    --secondary: #fb98c6;
    --accent: #5db6ca;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    background: var(--background);
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

.bg-light:not(img){
    background-color: var(--content-background) !important;
}

.star {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("../assets/stars/star2.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    filter: brightness(0) saturate(100%) invert(63%) sepia(32%) saturate(586%) hue-rotate(144deg) brightness(98%) contrast(87%);
}

.nav-link{
    color:var(--text);
}

.page-content{
    width: 90%;
    margin: 0 5%;
}

.banner{
    object-fit: contain;
    width: 90%;
    max-height: 63vh;
    margin-left: 5%;
}

.carousel{
    width: 90%;
    max-height: 80vh;
    min-height: 50vh;
}

.carousel-item img{
    object-fit: cover;
    max-height: 80vh;
    min-height: 50vh;
}

.about-image{
    max-width: 70% !important;
    margin: auto;
}

@media only screen and (min-width: 992px) {
    .about-image{
        max-width: 100% !important;
        margin: 0;
    }

    .order-summary{
        border: 1px solid #dee2e6 !important;
    }
}

/*container CSS for product boxes*/
.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    gap: 4vh;
    padding: 4vh 0px;
}
/*button colours*/
.btn-primary{
    background-color: var(--primary);
    color: var(--text);
};

.btn-primary:hover{
    background-color: var(--accent);
}

/*make cards zoom when hover over*/
.card-img-top {
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.2); 
}

.card{
    background-color: var(--content-background) !important;
}

.pretty-button{
    background-color: var(--secondary);
    font-size: large;
}

.pretty-button:hover{
    background-color: #ff59a6;
    color: white;
}

.home-text h1{
    text-align: center;
}

.home-text p{
    font-size: large;
    text-align: center;
    line-height: 2;
}

.cart-item img{
    max-height: 150px;
}